#report table {
  width: 500px;
/*  font-family: "Courier New";*/
}

#report th {
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  vertical-align: top;
}

#report td, #report th {
  border-bottom: 1px #ccc dotted;
  padding-top: .5em;
}

#report input, #report select {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  border: 1px #ccc solid;
  font-size: 100%;
}

#report a {
  color: #57e;
}

#report .number, #report .align-right {
  text-align: right;
}

#report .textfield-placeholder {
  color: #777777;
}

#report .divider {
  margin: 18px 0 18px 0;
  background: #777;
  height: 1px;
  overflow: hidden;
}

#pdfreport input {
  cursor: pointer;
  background: #555;
  color: #eee;
  border: 1px solid #000;
}
