<table>
  <tbody>
    <tr>
      <td>Name</td>
      <td class="align-right">
        <%= text_field_tag "name", "Your Name", :class => "textfield-placeholder" %>
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td class="align-right">
        <%= text_field_tag "email", "Your Email", :class => "textfield-placeholder" %>
      </td>
    </tr>
    <tr>
      <td>Organisation</td>
      <td class="align-right">
        <%= text_field_tag "org_name", "Your Org Name", :class => "textfield-placeholder" %>
      </td>
    </tr>
  </tbody>
</table>
